@page "/RoleList"
@using FairPlayCombined.Common
@using FairPlayCombined.Interfaces
@using FairPlayCombined.Models
@using FairPlayCombined.Models.Role
@using Microsoft.AspNetCore.Components.QuickGrid
@using FairPlayCombined.Models.Pagination
@using Microsoft.AspNetCore.Identity
@inject IRoleService roleService
@inject IServiceScopeFactory serviceScopeFactory
@inject IToastService toastService
@rendermode RenderMode.InteractiveServer
@attribute [StreamRendering(enabled: true)]
<h3>RoleList</h3>

<QuickGrid ItemsProvider="this.ItemsProvider" Pagination="@pagination">
    <PropertyColumn Property="@(p=>p.Id)" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="@(p=>p.Name)" Sortable="true"></PropertyColumn>
    <TemplateColumn>
        <button type="button" class="btn btn-danger" 
        @onclick="@(async ()=> await OnDeleteRoleAsync(context.Id))">Delete</button>
    </TemplateColumn>
</QuickGrid>

<Paginator State="@pagination">
</Paginator>
