@page "/"
@implements IAsyncDisposable
@using FairPlayCombined.Common
@using FairPlayCombined.Common.CustomAttributes
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Interfaces.FairPlayTube
@using FairPlayCombined.Models.FairPlayTube.VideoInfo
@using FairPlayCombined.Models.Pagination
@using FairPlayTube.SharedUI.Components.Spinners
@using Microsoft.Extensions.Localization

@attribute [StreamRendering(enabled: true)]

@inject IVideoInfoService videoInfoService
@inject IStringLocalizer<Home> localizer
@inject IApiResolver apiResolver

@inject NavigationManager navigationManager
@inject PersistentComponentState ApplicationState

<PageTitle>@localizer[HomeTextKey]</PageTitle>

<h1>@localizer[HomeTextKey]</h1>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<FluentAccordion>
    <FluentAccordionItem Expanded="true" Heading="Important Note!">
        <FluentIcon Value="@(new Icons.Regular.Size20.Info())"></FluentIcon>
        <FluentLabel Color="Color.Warning">
            This published version is intentionally limited in functionality.
            To learn about the current full capabilities use the following link:
            <FluentAnchor data-enhance-nav="false" Appearance="Appearance.Hypertext"
                          Target="_blank"
                          Href="https://us11.list-manage.com/contact-form?u=8b82a1556651be6b90abb39cb&form_id=ec99fae0af90bd739e8a29962e37657a">
                Request a Demo
            </FluentAnchor>
        </FluentLabel>
    </FluentAccordionItem>
</FluentAccordion>

@if (this.PageItems != null)
{
    <FluentStack Orientation="Orientation.Horizontal" Wrap="true">
        @foreach (var singleItem in this.PageItems.Value.Items)
        {
            <div>
                <div>
                    <img src="@($"{apiBaseUrl}/api/video/{singleItem.VideoId}/thumbnail")" width="300" />
                </div>
                <div>
                    <FluentLabel Alignment="HorizontalAlignment.Center"
                                 Typo="Typography.Subject"
                                 Class="multiline-text" style="width:250px; height:50px;">
                        @singleItem.Name
                    </FluentLabel>
                    <FluentLabel Typo="Typography.Body">
                        <FluentIcon Value="@(new Icons.Regular.Size20.PeopleAudience())"></FluentIcon>
                        <strong>@localizer[LifetimeSessionsTextKey]:</strong> @singleItem.LifetimeSessions</FluentLabel>
                    <FluentLabel Typo="Typography.Body">
                        <FluentIcon Value="@(new Icons.Regular.Size20.Eye())"></FluentIcon>
                        <strong>@localizer[LifetimeViewersTextKey]:</strong> @singleItem.LifetimeViewers</FluentLabel>
                    <FluentLabel Typo="Typography.Body">
                        <FluentIcon Value="@(new Icons.Regular.Size20.Timer())"></FluentIcon>
                        <strong>@localizer[WatchTimeTextKey]:</strong> @singleItem.LifetimeWatchTime</FluentLabel>
                    <FluentLabel Typo="Typography.Body">
                        <FluentIcon Value="@(new Icons.Regular.Size20.CalendarDate())"></FluentIcon>
                        <strong>@localizer[PublishedTextKey]:</strong> @singleItem.PublishedOnString</FluentLabel>
                </div>
                <div>
                    <FluentButton Type="ButtonType.Button" Appearance="Appearance.Accent"
                                  IconStart="@(new Icons.Regular.Size16.Play())"
                                  OnClick="@( () => OnPlayVideoClicked(singleItem.VideoId!))">Play</FluentButton>
                </div>
            </div>
        }
    </FluentStack>
}
<FluentPaginator State="this.paginationState" CurrentPageIndexChanged="CurrentPageIndexChanged"></FluentPaginator>

@code
{
    private bool IsBusy { get; set; }
    private GridItemsProvider<VideoInfoModel>? ItemsProvider;
    private readonly PaginationState paginationState = new()
        {
            ItemsPerPage = Constants.Pagination.PageSize
        };
    private GridItemsProviderResult<VideoInfoModel>? PageItems { get; set; }
    private readonly CancellationTokenSource cancellationTokenSource = new();
    private string apiBaseUrl => apiResolver.GetBaseUrl();
    private PersistingComponentStateSubscription persistingSubscription;

    private Task PersistData()
    {
        //Check https://learn.microsoft.com/en-us/aspnet/core/blazor/components/prerender?view=aspnetcore-9.0
        ApplicationState.PersistAsJson<GridItemsProviderResult<VideoInfoModel>?>(nameof(PageItems), this.PageItems);
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistData);

        ItemsProvider = async req =>
        {
            this.IsBusy = true;
            StateHasChanged();
            PaginationRequest paginationRequest = new()
                {
                    PageSize = paginationState.ItemsPerPage,
                    StartIndex = req.StartIndex,
                    SortingItems = new SortingItem[]
                    {
                        new SortingItem()
                        {
                            PropertyName=nameof(VideoInfoModel.VideoInfoId),
                            SortType = FairPlayCombined.Common.GeneratorsAttributes.SortType.Descending
                        }
                    }
                };
            var items = await videoInfoService.GetPaginatedCompletedVideoInfoAsync(paginationRequest,
            this.cancellationTokenSource.Token);
            this.IsBusy = false;
            StateHasChanged();
            var result = GridItemsProviderResult.From<VideoInfoModel>(items!.Items!, items.TotalItems);
            return result;
        };
        if (!ApplicationState.TryTakeFromJson<GridItemsProviderResult<VideoInfoModel>?>(
                nameof(this.PageItems), out var restoredPageItems))
        {
            this.PageItems = await this.ItemsProvider(new GridItemsProviderRequest<VideoInfoModel>()
                {
                    CancellationToken = this.cancellationTokenSource.Token,
                    StartIndex = 0
                });
        }
        else
        {
            this.PageItems = restoredPageItems;
        }
        await this.paginationState.SetTotalItemCountAsync(PageItems?.TotalItemCount ?? 0);
        StateHasChanged();
    }

    private void OnPlayVideoClicked(string videoId)
    {
        this.navigationManager.NavigateTo($"/Public/WatchVideo/{videoId}");
    }

    private async Task CurrentPageIndexChanged(int page)
    {
        this.PageItems = await this.ItemsProvider!(new GridItemsProviderRequest<VideoInfoModel>()
            {
                CancellationToken = this.cancellationTokenSource.Token,
                StartIndex = page * this.paginationState.ItemsPerPage
            });
    }

    public ValueTask DisposeAsync()
    {
        this.cancellationTokenSource.Dispose();
        this.persistingSubscription.Dispose();
        return ValueTask.CompletedTask;
    }

    #region Resource Keys
    [ResourceKey(defaultValue: "Home")]
    public const string HomeTextKey = "HomeText";
    [ResourceKey(defaultValue: "Lifetime Sessions")]
    public const string LifetimeSessionsTextKey = "LifetimeSessionsText";
    [ResourceKey(defaultValue: "Lifetime Viewers")]
    public const string LifetimeViewersTextKey = "LifetimeViewersText";
    [ResourceKey(defaultValue: "Watch Time(hh:mm:ss)")]
    public const string WatchTimeTextKey = "WatchTimeText";
    [ResourceKey(defaultValue: "Published")]
    public const string PublishedTextKey = "PublishedText";
    [ResourceKey(defaultValue: "Play")]
    public const string PlayTextKey = "PlayText";
    #endregion
}
