@attribute [Route($"{FairPlayCombined.Common.Constants.Routes.FairPlayBlogsRoutes.UserRoutes.CreateBlogPost}/{{BlogId:long}}")]
@attribute [Authorize]

@implements IAsyncDisposable

<PageTitle>@Localizer![CreatePostTextKey]</PageTitle>

<h3>@Localizer![CreatePostTextKey]</h3>

<FluentEditForm Model="@this.CreateBlogPostModel" OnSubmit="OnSubmitAsync" @ref="@this.EditForm">
    <div>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <FluentValidationSummary></FluentValidationSummary>
    </div>
    <div>
        <FluentLabel Typo="Typography.Body">@Localizer![SelectAnImageTextKey]</FluentLabel>
        <InputFile accept="image/*" OnChange="OnImageSelectedAsync"></InputFile>
    </div>
    <div>
        <FluentLabel Typo="Typography.Body">@Localizer![TitleTextKey]</FluentLabel>
        <FluentTextField @bind-Value="@this.CreateBlogPostModel.Title" style="width:100%;"></FluentTextField>
        <FluentValidationMessage For="@(()=>this.CreateBlogPostModel.Title)"></FluentValidationMessage>
    </div>
    <div>
        <FluentLabel Typo="Typography.Body">@Localizer![PreviewTextTextKey]</FluentLabel>
        <FluentTextField @bind-Value="@this.CreateBlogPostModel.PreviewText" style="width:100%;"></FluentTextField>
        <FluentValidationMessage For="@(()=>this.CreateBlogPostModel.PreviewText)"></FluentValidationMessage>
    </div>
    <div>
        <div>
            <FluentLabel Typo="Typography.Body">@Localizer![ContentTextKey]</FluentLabel>
        </div>
        <div>
            <BlazoredTextEditor @ref="@QuillHtml">
                <ToolbarContent>
                    <select class="ql-header">
                        <option selected=""></option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                    </select>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-image"></button>
                    </span>
                </ToolbarContent>
                <EditorContent>
                </EditorContent>
            </BlazoredTextEditor>
        </div>
    </div>
    <div>
        <FluentButton Type="ButtonType.Submit">@Localizer![SaveTextKey]</FluentButton>
    </div>
</FluentEditForm>