@using FairPlayCombined.Common
@attribute [Route(FairPlayCombined.Common.Constants.Routes.FairPlayBlogsRoutes.UserRoutes.MyBlogList)]
@attribute [Authorize]

@implements IAsyncDisposable

<PageTitle>@Localizer![MyBlogListTextKey]</PageTitle>

<h3>@Localizer![MyBlogListTextKey]</h3>

<div class="@ThemeConfiguration.Grids.GridContainerCss">
    <FluentDataGrid ItemsProvider="@this.ItemsProvider" Pagination="@this.paginationState">
        <PropertyColumn Property="@(p=>p.Name)"></PropertyColumn>
        <PropertyColumn Property="@(p=>p.Description)"></PropertyColumn>
        <TemplateColumn Title="@Localizer![ActionsTextKey]">
            <FluentAnchor Href="@($"{FairPlayCombined.Common.Constants.Routes.FairPlayBlogsRoutes.UserRoutes.CreateBlogPost}/{context.BlogId}")"
            data-bs-toggle="tooltip" data-bs-placement="top" title="@CreatePostText">
                <FluentIcon Value="@(new Icons.Regular.Size20.Document())"></FluentIcon>
            </FluentAnchor>
        </TemplateColumn>
    </FluentDataGrid>
</div>
<CustomFluentPaginator State="@this.paginationState"></CustomFluentPaginator>