@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using FairPlayCombined.Common.ValidationAttributes
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Logging

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h2>Create a new account.</h2>
            <hr />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="email">Email</label>
                <InputText @bind-Value="Input.Email" class="@ThemeConfiguration.GenericControls.DefaultCss" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="password">Password</label>
                <InputText type="password" @bind-Value="Input.Password" class="@ThemeConfiguration.GenericControls.DefaultCss" autocomplete="new-password" aria-required="true" placeholder="password" />
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="confirm-password">Confirm Password</label>
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="@ThemeConfiguration.GenericControls.DefaultCss" autocomplete="new-password" aria-required="true" placeholder="password" />
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="name">Name</label>
                <InputText @bind-Value="Input.Name" class="@ThemeConfiguration.GenericControls.DefaultCss" autocomplete="name" aria-required="true" placeholder="Name" />
                <ValidationMessage For="() => Input.Name" class="text-danger" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="lastname">Lastname</label>
                <InputText @bind-Value="Input.Lastname" class="@ThemeConfiguration.GenericControls.DefaultCss" autocomplete="lastname" aria-required="true" placeholder="Lastname" />
                <ValidationMessage For="() => Input.Lastname" class="text-danger" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="linkedinprofileurl"
                       class="@ThemeConfiguration.Labels.DefaultCss">LinkedIn Profile Url</label>
                <InputText @bind-Value="Input.LinkedInProfileUrl"
                           class="@ThemeConfiguration.GenericControls.DefaultCss"
                           autocomplete="linkedinprofileurl" placeholder="Please enter your Linkedin profile URL." />
                <ValidationMessage For="() => Input.LinkedInProfileUrl" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="instagramprofileurl"
                       class="@ThemeConfiguration.Labels.DefaultCss">Instagram Profile Url</label>
                <InputText @bind-Value="Input.InstagramProfileUrl"
                           class="@ThemeConfiguration.GenericControls.DefaultCss"
                           autocomplete="instagramprofileurl" placeholder="Please enter your Instagram profile URL." />
                <ValidationMessage For="() => Input.InstagramProfileUrl" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="xformerlytwitterurl"
                       class="@ThemeConfiguration.Labels.DefaultCss">X (formerlyTwitter) Profile Url</label>
                <InputText @bind-Value="Input.XformerlyTwitterUrl"
                           class="@ThemeConfiguration.GenericControls.DefaultCss"
                           autocomplete="xformerlytwitterurl" placeholder="Please enter your X(formerly Twitter) profile URL." />
                <ValidationMessage For="() => Input.XformerlyTwitterUrl" />
            </div>
            <div class="@ThemeConfiguration.Divisions.DefaultCss">
                <label for="websiteurl"
                       class="@ThemeConfiguration.Labels.DefaultCss">Website Url</label>
                <InputText @bind-Value="Input.WebsiteUrl"
                           class="@ThemeConfiguration.GenericControls.DefaultCss"
                           autocomplete="websiteUrl" placeholder="Please enter your Website URL." />
                <ValidationMessage For="() => Input.WebsiteUrl" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </EditForm>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();
        user.Name = Input.Name;
        user.Lastname = Input.Lastname;
        if (!String.IsNullOrWhiteSpace(Input.LinkedInProfileUrl))
        {
            user.LinkedInProfileUrl = Input.LinkedInProfileUrl;
        }
        if (!String.IsNullOrWhiteSpace(Input.InstagramProfileUrl))
        {
            user.InstagramProfileUrl = Input.InstagramProfileUrl;
        }
        if (!String.IsNullOrWhiteSpace(Input.XformerlyTwitterUrl))
        {
            user.XformerlyTwitterUrl = Input.XformerlyTwitterUrl;
        }
        if (!String.IsNullOrWhiteSpace(Input.WebsiteUrl))
        {
            user.WebsiteUrl = Input.WebsiteUrl;
        }
        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [Required]
        [StringLength(50, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.")]
        [Display(Name = "Name")]
        public string Name { get; set; } = "";

        [Required]
        [StringLength(50, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.")]
        [Display(Name = "Lastname")]
        public string Lastname { get; set; } = "";

        [NullableUrl]
        [Display(Name = "LinkedIn Profile Url")]
        public string? LinkedInProfileUrl { get; set; }

        [NullableUrl]
        [Display(Name = "Instagram Profile Url")]
        public string? InstagramProfileUrl { get; set; }

        [NullableUrl]
        [Display(Name = "X (formerly Twitter) Url")]
        public string? XformerlyTwitterUrl { get; set; }

        [NullableUrl]
        [Display(Name = "Website Url")]
        public string? WebsiteUrl { get; set; }
    }
}
