@page "/Public/WatchVideo/{VideoId}"
@implements IAsyncDisposable
@using FairPlayCombined.Models.AzureVideoIndexer
@using FairPlayCombined.Services.Common
@using FairPlayTube.Components.Spinners

@rendermode NoPreRender

@inject AzureVideoIndexerServiceConfiguration azureVideoIndexerServiceConfiguration
@inject AzureVideoIndexerService azureVideoIndexerService
@inject IJSRuntime jsRuntime


<FluentLabel Typo="Typography.H3">WatchVideo</FluentLabel>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>
@if (!this.UseFallbackMode && !String.IsNullOrWhiteSpace(this.VideoUrl))
{
    <div id="container" data-permanent>
        <!-- HTML -->
        <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="268"
               data-setup='{}'>
            <source src="@this.VideoUrl" type="application/x-mpegURL">
            @if (this.SupportedLanguages?.Length > 0)
            {
                foreach (var singleSupportedLanguage in this.SupportedLanguages)
                {
                    <track kind="captions" src="@($"/api/video/{this.VideoId}/captions/{singleSupportedLanguage.languageCode}")"
                           srclang="@singleSupportedLanguage.languageCode" label="@singleSupportedLanguage.name" />
                }
            }
        </video>
    </div>
    <div>
        <FluentButton Type="ButtonType.Button"
                      Appearance="Microsoft.FluentUI.AspNetCore.Components.Appearance.Accent"
                      OnClick="OnUseFallbackMode">Can't see the video? Click here!</FluentButton>
    </div>
}
else
{
    <div>
        <iframe src="@this.FallbackModeUrl" width="600" allowfullscreen></iframe>
    </div>
}

@code {
    [Parameter]
    public string? VideoId { get; set; }
    private static IComponentRenderMode NoPreRender = new InteractiveServerRenderMode(prerender: false);
    private bool IsBusy { get; set; }
    private GetVideoIndexResponseModel? videoIndex { get; set; }
    private GetAccessTokenResponseModel? viAccessTokenResponse { get; set; }
    private CancellationTokenSource cancellationTokenSource = new();
    private bool UseFallbackMode { get; set; }
    private string? FallbackModeUrl { get; set; }
    private string? VideoUrl { get; set; }
    private SupportedLanguageModel[]? SupportedLanguages { get; set; }
    private DotNetObjectReference<WatchVideo>? dotNetObjectReference;

    protected override void OnInitialized()
    {
        this.dotNetObjectReference = DotNetObjectReference.Create<WatchVideo>(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.IsBusy = true;
            StateHasChanged();
            var armAccessToken = await azureVideoIndexerService.AuthenticateToAzureArmAsync();
            this.viAccessTokenResponse = await azureVideoIndexerService
            .GetAccessTokenForArmAccountAsync(armAccessToken, this.cancellationTokenSource.Token);
            this.videoIndex = await azureVideoIndexerService
            .GetVideoIndexAsync(this.VideoId!, viAccessTokenResponse!.AccessToken!,
            this.cancellationTokenSource.Token);
            this.VideoUrl = $"{videoIndex!.videos![0].publishedUrl}?accessToken={viAccessTokenResponse.AccessToken}";
            this.SupportedLanguages = await azureVideoIndexerService
            .GetSupportedLanguagesAsync(viAccessTokenResponse!.AccessToken!,
            this.cancellationTokenSource.Token);
            StateHasChanged();
            await jsRuntime.InvokeVoidAsync("initializeVideoJsPlayer", "my_video_1", Guid.NewGuid().ToString(), this.dotNetObjectReference);
            this.IsBusy = false;
            StateHasChanged();
        }
    }

    [JSInvokable]
    public void UpdateWatchTime(decimal watchTime, string currentSessionGuid)
    {
        System.Diagnostics.Debug.WriteLine($"Watch Time (s): {watchTime}. Session: {currentSessionGuid}");
    }

    private void OnUseFallbackMode()
    {
        this.FallbackModeUrl = $"https://www.videoindexer.ai/embed/player/{this.videoIndex!.accountId}/{this.videoIndex.id}/?locale=en&location={azureVideoIndexerServiceConfiguration.Location}&accessToken={this.viAccessTokenResponse!.AccessToken}";
        this.UseFallbackMode = true;
        StateHasChanged();
    }

    public ValueTask DisposeAsync()
    {
        this.cancellationTokenSource.Dispose();
        return ValueTask.CompletedTask;
    }
}
