@page "/Account/Manage/ExternalLogins"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IUserStore<ApplicationUser> UserStore
@inject IdentityRedirectManager RedirectManager

@inject IStringLocalizer<ExternalLogins> localizer

<PageTitle>@localizer[ManageYourExternalLoginsTextKey]</PageTitle>

<StatusMessage />
@if (currentLogins?.Count > 0)
{
    <h3>@localizer[RegisteredLoginsTextKey]</h3>
    <table class="table">
        <tbody>
            @foreach (var login in currentLogins)
            {
                <tr>
                    <td>@login.ProviderDisplayName</td>
                    <td>
                        @if (showRemoveButton)
                        {
                            <form @formname="@($"remove-login-{login.LoginProvider}")" @onsubmit="OnSubmitAsync" method="post">
                                <AntiforgeryToken />
                                <div>
                                    <input type="hidden" name="@nameof(LoginProvider)" value="@login.LoginProvider" />
                                    <input type="hidden" name="@nameof(ProviderKey)" value="@login.ProviderKey" />
                                    <button type="submit" class="@ThemeConfiguration.Buttons.PrimaryButtonCss" title="@localizer[RemoveProviderFromAccountTitleTextKey, login!.ProviderDisplayName!]">@localizer[RemoveTextKey]</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (otherLogins?.Count > 0)
{
    <h4>@localizer[UseAnotherServiceToLoginTextKey]</h4>
    <hr />
    <form class="form-horizontal" action="Account/Manage/LinkExternalLogin" method="post">
        <AntiforgeryToken />
        <div>
            <p>
                @foreach (var provider in otherLogins)
                {
                    <button type="submit" class="@ThemeConfiguration.Buttons.PrimaryButtonCss" name="Provider" value="@provider.Name" title=@localizer[LoginUsingProviderTextKey, provider.DisplayName!]>
                        @provider.DisplayName
                    </button>
                }
            </p>
        </div>
    </form>
}

@code {
    public const string LinkLoginCallbackAction = "LinkLoginCallback";

    private ApplicationUser user = default!;
    private IList<UserLoginInfo>? currentLogins;
    private IList<AuthenticationScheme>? otherLogins;
    private bool showRemoveButton;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private string? LoginProvider { get; set; }

    [SupplyParameterFromForm]
    private string? ProviderKey { get; set; }

    [SupplyParameterFromQuery]
    private string? Action { get; set; }

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        currentLogins = await UserManager.GetLoginsAsync(user);
        otherLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync())
            .Where(auth => currentLogins.All(ul => auth.Name != ul.LoginProvider))
            .ToList();

        string? passwordHash = null;
        if (UserStore is IUserPasswordStore<ApplicationUser> userPasswordStore)
        {
            passwordHash = await userPasswordStore.GetPasswordHashAsync(user, HttpContext.RequestAborted);
        }

        showRemoveButton = passwordHash is not null || currentLogins.Count > 1;

        if (HttpMethods.IsGet(HttpContext.Request.Method) && Action == LinkLoginCallbackAction)
        {
            await OnGetLinkLoginCallbackAsync();
        }
    }

    private async Task OnSubmitAsync()
    {
        var result = await UserManager.RemoveLoginAsync(user, LoginProvider!, ProviderKey!);
        if (!result.Succeeded)
        {
            RedirectManager.RedirectToCurrentPageWithStatus(localizer[ExternalLoginNotRemovedTextKey], HttpContext);
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus(localizer[ExternalLoginRemovedTextKey], HttpContext);
    }

    private async Task OnGetLinkLoginCallbackAsync()
    {
        var userId = await UserManager.GetUserIdAsync(user);
        var info = await SignInManager.GetExternalLoginInfoAsync(userId);
        if (info is null)
        {
            RedirectManager.RedirectToCurrentPageWithStatus(localizer[ErrorLoadingExternalLoginTextKey], HttpContext);
        }

        var result = await UserManager.AddLoginAsync(user, info);
        if (!result.Succeeded)
        {
            RedirectManager.RedirectToCurrentPageWithStatus(localizer[OnlyOneAccountSupportedTextKey], HttpContext);
        }

        // Clear the existing external cookie to ensure a clean login process
        await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);

        RedirectManager.RedirectToCurrentPageWithStatus(localizer[ExternalLoginAddedTextKey], HttpContext);
    }

    #region Resource Keys
    [ResourceKey(defaultValue: "Manage your external logins")]
    public const string ManageYourExternalLoginsTextKey = "ManageYourExternalLoginsText";
    [ResourceKey(defaultValue: "Registered Logins")]
    public const string RegisteredLoginsTextKey = "RegisteredLoginsText";
    [ResourceKey(defaultValue: "Remove this {0} login from your account")]
    public const string RemoveProviderFromAccountTitleTextKey = "RemoveProviderFromAccountTitleText";
    [ResourceKey(defaultValue: "Remove")]
    public const string RemoveTextKey = "RemoveText";
    [ResourceKey(defaultValue: "Add another service to log in")]
    public const string UseAnotherServiceToLoginTextKey = "UseAnotherServiceToLoginText";
    [ResourceKey(defaultValue: "Log in using your {0} account")]
    public const string LoginUsingProviderTextKey = "LoginUsingProviderText";
    [ResourceKey(defaultValue: "Error: The external login was not removed")]
    public const string ExternalLoginNotRemovedTextKey = "ExternalLoginNotRemovedText";
    [ResourceKey(defaultValue: "The external login was removed")]
    public const string ExternalLoginRemovedTextKey = "ExternalLoginRemovedText";
    [ResourceKey(defaultValue: "Error: Could not load external login info")]
    public const string ErrorLoadingExternalLoginTextKey = "ErrorLoadingExternalLoginText";
    [ResourceKey(defaultValue: "Error: The external login was not added. External logins can only be associated with one account")]
    public const string OnlyOneAccountSupportedTextKey = "OnlyOneAccountSupportedText";
    [ResourceKey(defaultValue: "The external login was added")]
    public const string ExternalLoginAddedTextKey = "ExternalLoginAddedText";
    #endregion Resource Keys
}
