@page "/Account/Manage/SetPassword"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

@inject IStringLocalizer<SetPassword> localizer

<PageTitle>@localizer[SetPasswordTextKey]</PageTitle>

<h3>@localizer[SetPasswordTextKey]</h3>
<StatusMessage Message="@message" />
<p class="text-info">
    @localizer[AddlocalAccountTextKey]
</p>
<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="set-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating @ThemeConfiguration.Divisions.DefaultCss">
                <InputText type="password" @bind-Value="Input.NewPassword" 
                class="@ThemeConfiguration.GenericControls.DefaultCss" autocomplete="new-password" 
                placeholder=@PleaseEnterNewPasswordText />
                <label for="new-password" class="@ThemeConfiguration.Labels.DefaultCss">@localizer[NewPasswordTextKey]</label>
                <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
            </div>
            <div class="form-floating @ThemeConfiguration.Divisions.DefaultCss">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="@ThemeConfiguration.GenericControls.DefaultCss" 
                autocomplete="new-password" placeholder=@PleaseConfirmNewPasswordText />
                <label for="confirm-password" class="@ThemeConfiguration.Labels.DefaultCss">@localizer[ConfirmPasswordTextKey]</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@localizer[SetPasswordTextKey]</button>
        </EditForm>
     </div>
</div>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var hasPassword = await UserManager.HasPasswordAsync(user);
        if (hasPassword)
        {
            RedirectManager.RedirectTo("Account/Manage/ChangePassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var addPasswordResult = await UserManager.AddPasswordAsync(user, Input.NewPassword!);
        if (!addPasswordResult.Succeeded)
        {
            message = $"Error: {string.Join(",", addPasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus(localizer[PasswordSetTextKey], HttpContext);
    }

    private sealed class InputModel
    {
        [CustomRequired]
        [CustomStringLength(100, MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(ResourceType = typeof(InputModelLocalizer),
        Name = nameof(InputModelLocalizer.DisplayFor_NewPassword))]
        public string? NewPassword { get; set; }

        [DataType(DataType.Password)]
        [Display(ResourceType = typeof(InputModelLocalizer),
        Name = nameof(InputModelLocalizer.DisplayFor_ConfirmNewPassword))]
        [CustomCompare(nameof(NewPassword))]
        public string? ConfirmPassword { get; set; }
    }

    [LocalizerOfT<InputModel>]
    public class InputModelLocalizer
    {
        public static IStringLocalizer<InputModelLocalizer>? Localizer { get; set; }

        [ResourceKey(defaultValue: "New password")]
        public const string DisplayFor_NewPassword_TextKey = "DisplayFor_NewPassword_Text";
        public string DisplayFor_NewPassword => Localizer![DisplayFor_NewPassword_TextKey];

        [ResourceKey(defaultValue: "Confirm new password")]
        public const string DisplayFor_ConfirmNewPassword_TextKey = "DisplayFor_ConfirmNewPassword_Text";
        public string DisplayFor_ConfirmNewPassword => Localizer![DisplayFor_ConfirmNewPassword_TextKey];

    }

    #region Resource Keys
    [ResourceKey(defaultValue: "Set password")]
    public const string SetPasswordTextKey = "SetPasswordText";
    [ResourceKey(defaultValue: "You do not have a local username/password for this site. Add a local account so you can log in without an external login.")]
    public const string AddlocalAccountTextKey = "AddlocalAccountText";
    [ResourceKey(defaultValue: "Please enter your new password")]
    public const string PleaseEnterNewPasswordTextKey = "PleaseEnterNewPasswordText";
    public string PleaseEnterNewPasswordText => localizer[PleaseEnterNewPasswordTextKey];
    [ResourceKey(defaultValue: "New password")]
    public const string NewPasswordTextKey = "NewPasswordText";
    [ResourceKey(defaultValue: "Please confirm your new password.")]
    public const string PleaseConfirmNewPasswordTextKey = "PleaseConfirmNewPasswordText";
    public string PleaseConfirmNewPasswordText => localizer[PleaseConfirmNewPasswordTextKey];
    [ResourceKey(defaultValue: "Confirm password")]
    public const string ConfirmPasswordTextKey = "ConfirmPasswordText";
    [ResourceKey(defaultValue: "Your password has been set")]
    public const string PasswordSetTextKey = "PasswordSetText";
    #endregion Resource Keys
}
