@page "/User/MyConversations"
@implements IAsyncDisposable

@attribute [Authorize(Roles = FairPlayCombined.Common.Constants.RoleName.BasicPlanUser)]

@using FairPlayCombined.Common.CustomAttributes
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Interfaces.FairPlayTube
@using FairPlayCombined.Models.Common.AspNetUsers
@using FairPlayCombined.Models.FairPlayTube.Conversation
@using FairPlayCombined.Models.Common.UserMessage
@using FairPlayCombined.Models.Pagination
@using FairPlayTube.SharedUI.Components.Paginators
@using FairPlayTube.SharedUI.Components.Spinners
@using Microsoft.Extensions.Localization


@attribute [StreamRendering(enabled: true)]

@inject IUserMessageService userMessageService
@inject IToastService toastService
@inject IAspNetUsersService aspNetUsersService

@inject IStringLocalizer<MyConversations> localizer

<PageTitle>@localizer[MyConversationsTextKey]</PageTitle>

<FluentLabel Typo="Typography.H3">
    @localizer[MyConversationsTextKey]
</FluentLabel>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<div class="container">
    <div class="row" style="max-height:250px;">
        <div class="col">
            <div class="@ThemeConfiguration.Grids.GridContainerCss">
                <FluentDataGrid ItemsProvider="AspNetUsersItemsProvider" Pagination="this.paginationState">
                    <TemplateColumn>
                        <FluentButton Appearance="Appearance.Lightweight" Type="ButtonType.Button" OnClick="@( async () => await SelectUserAsync(context))"
                                      aria-current="true">
                            @if (context.Id == this.SelectedUser?.Id)
                            {
                                <strong>
                                    @context.FullName
                                </strong>
                            }
                            else
                            {
                                @context.FullName
                            }
                        </FluentButton>
                    </TemplateColumn>
                </FluentDataGrid>
                <CustomFluentPaginator State="this.paginationState"></CustomFluentPaginator>
            </div>
        </div>
        <div class="col" style="max-height: 250px; overflow:auto;">
            @if (this.SelectedUser != null)
            {
                if (this.AllMyConversationsWithSelectedUser?.Length > 0)
                {
                    foreach (var singleConversation in this.AllMyConversationsWithSelectedUser)
                    {
                        <div class="row">
                            <div class="col">
                                <FluentCard>
                                    <FluentHeader>
                                        <strong>
                                            [@singleConversation.RowCreationDateTime!.Value.LocalDateTime]
                                            <br />
                                            @singleConversation.FromApplicationUserFullName
                                        </strong>
                                    </FluentHeader>
                                    <FluentBodyContent>
                                        @singleConversation.Message
                                    </FluentBodyContent>
                                </FluentCard>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>@localizer[NoConversationsWithUserTextKey]</p>
                }
            }
            else
            {
                <p>@localizer[SelectUserTextKey]</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (this.SelectedUser != null)
            {
                <FluentEditForm Model="MessageToSend" OnValidSubmit="SendMessageAsync">
                    <div class="mb-3">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <FluentValidationSummary></FluentValidationSummary>
                    </div>
                    <div class="mb-3">
                        <FluentLabel Typo="Typography.H3">
                            @localizer[MessageTextKey]
                        </FluentLabel>
                        <FluentTextField style="width:100%;"
                                         @bind-Value="MessageToSend!.Message"
                                         Placeholder="@localizer[MessageTextKey]">
                        </FluentTextField>
                        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">@localizer[SendTextKey]</FluentButton>
                    </div>
                </FluentEditForm>
            }
        </div>
    </div>
</div>

@code {
    private GridItemsProvider<AspNetUsersModel>? AspNetUsersItemsProvider;
    private readonly PaginationState paginationState = new()
        {
            ItemsPerPage = Constants.Pagination.PageSize
        };
    private bool IsBusy { get; set; }
    public AspNetUsersModel? SelectedUser { get; private set; }
    private UserMessageModel[]? AllMyConversationsWithSelectedUser { get; set; }
    private UserMessageModel? MessageToSend { get; set; } = new UserMessageModel();
    private readonly CancellationTokenSource cancellationTokenSource = new();

    protected override void OnInitialized()
    {
        this.IsBusy = true;
        AspNetUsersItemsProvider = async req =>
        {
            StateHasChanged();
            PaginationRequest paginationRequest = new()
                {
                    PageSize = paginationState.ItemsPerPage,
                    StartIndex = req.StartIndex
                };
            var items = await aspNetUsersService.GetPaginatedAspNetUsersAsync(paginationRequest,
            this.cancellationTokenSource.Token);
            StateHasChanged();
            var result = GridItemsProviderResult.From<AspNetUsersModel>(items!.Items!, items.TotalItems);
            return result;
        };
        this.IsBusy = false;
    }

    private async Task SendMessageAsync()
    {
        try
        {
            IsBusy = true;

            this.MessageToSend!.ToApplicationUserId = this.SelectedUser!.Id;
            await this.userMessageService.SendMessageAsync(this.MessageToSend,
            this.cancellationTokenSource.Token);
            await LoadMyConversationsWithSelectedUser();
            this.MessageToSend.Message = String.Empty;
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            IsBusy = false;
        }
    }

    private async Task LoadMyConversationsWithSelectedUser()
    {
        this.AllMyConversationsWithSelectedUser =
        await this.userMessageService
        .GetMyConversationsWithUserAsync(this.SelectedUser!.Id,
        this.cancellationTokenSource.Token);
    }

    private async Task SelectUserAsync(AspNetUsersModel aspNetUsersModel)
    {
        this.SelectedUser = aspNetUsersModel;
        await LoadMyConversationsWithSelectedUser();
        StateHasChanged();
    }

    public ValueTask DisposeAsync()
    {
        this.cancellationTokenSource.Dispose();
        return ValueTask.CompletedTask;
    }

    #region Resource Keys
    [ResourceKey(defaultValue: "My Conversations")]
    public const string MyConversationsTextKey = "MyConversationsText";
    [ResourceKey(defaultValue: "You have no conversations with this user")]
    public const string NoConversationsWithUserTextKey = "NoConversationsWithUserText";
    [ResourceKey(defaultValue: "Please select a user")]
    public const string SelectUserTextKey = "SelectUserText";
    [ResourceKey(defaultValue: "Message")]
    public const string MessageTextKey = "MessageText";
    [ResourceKey(defaultValue: "Send")]
    public const string SendTextKey = "SendText";
    [ResourceKey(defaultValue: "Page {0} of {1}")]
    public const string PaginatorTextKey = "PaginatorText";
    [ResourceKey(defaultValue: "Total Items: {0}")]
    public const string PaginatorSummaryTextKey = "PaginatorSummaryText";
    #endregion Resource Keys
}
