@attribute [Route(Constants.Routes.FairPlayTubeRoutes.CreatorRoutes.MyProcessingVideos)]
@implements IAsyncDisposable

@attribute [Authorize(Roles = FairPlayCombined.Common.Constants.RoleName.BasicPlanUser)]
@attribute [StreamRendering(enabled: true)]

@using FairPlayCombined.Common
@using FairPlayCombined.Interfaces
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Interfaces.FairPlayTube
@using FairPlayCombined.Models.FairPlayTube.VideoInfo
@using FairPlayCombined.Models.Pagination
@using FairPlayTube.SharedUI.Components.Paginators
@using FairPlayTube.SharedUI.Components.Spinners

<PageTitle>@Localizer![MyProcessingVideosTextKey]</PageTitle>

<FluentLabel Typo="Typography.H3">@Localizer![MyProcessingVideosTextKey]</FluentLabel>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<div class="@ThemeConfiguration.Grids.GridContainerCss">
    <FluentDataGrid ItemsProvider="ItemsProvider" Pagination="this.paginationState">
        <PropertyColumn Class="multiline-text" Property="@(p=>p.Name)" Title="@Localizer![NameTextKey]"></PropertyColumn>
        <PropertyColumn Property="@(P=>P.VideoId)" Title="@Localizer![VideoIdTextKey]"></PropertyColumn>
        <PropertyColumn Property="@(p=>p.YouTubeVideoId)" Title="@Localizer![YouTubeVideoIdTextKey]"></PropertyColumn>
        <PropertyColumn Property="@(p=>p.VideoIndexingProcessingPercentage)" Title="@Localizer![ProcessingPercentageTextKey]"></PropertyColumn>
    </FluentDataGrid>
</div>
<CustomFluentPaginator State="@this.paginationState"></CustomFluentPaginator>