@page "/Creator/YouTubeThumbnail/{VideoInfoId:long}"
@implements IDisposable

@attribute [Authorize(Roles = FairPlayCombined.Common.Constants.RoleName.BasicPlanUser)]

@using FairPlayCombined.Common
@using FairPlayCombined.Common.GeneratorsAttributes
@using FairPlayCombined.Interfaces
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Interfaces.FairPlayTube
@using FairPlayCombined.Models.FairPlayTube.VideoInfo
@using FairPlayCombined.Models.FairPlayTube.VideoThumbnail
@using FairPlayCombined.Models.Pagination
@using FairPlayTube.SharedUI.Components.Spinners

@rendermode @(new InteractiveServerRenderMode(prerender:false))
@attribute [StreamRendering(enabled: true)]

@inject IJSRuntime jsRuntime
@inject IVideoInfoService videoInfoService
@inject IUserProviderService userProviderService
@inject IOpenAIService openAIService
@inject IVideoCaptionsService videoCaptionsService
@inject IPromptGeneratorService promptGeneratorService
@inject IVideoThumbnailService videoThumbnailService
@inject IToastService toastService
@inject IPhotoService photoService
@inject HttpClient httpClient
<PageTitle>
    Video Thumbnail
</PageTitle>

<FluentLabel Typo="Typography.H3">
    Video Thumbnail
</FluentLabel>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<div>
    <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Button"
                  OnClick="OnCreateNewThumbnailClickedAsync">Create New Thumbnail</FluentButton>
</div>
<div>
    @if (this.Items?.Items?.Length > 0)
    {
        <FluentStack Orientation="Orientation.Horizontal" Wrap="true">
            @foreach (var singleItem in this.Items.Items)
            {
                <div>
                    <img loading="lazy" src="@($"/api/photo/{singleItem.PhotoId}")" width="400" />
                </div>
            }
        </FluentStack>
    }
    <FluentPaginator State="this.paginationState" CurrentPageIndexChanged="OnCurrentPageIndexChangedAsync"></FluentPaginator>
</div>
<FluentDivider Role="DividerRole.Separator"></FluentDivider>
<div>
    @if (!String.IsNullOrWhiteSpace(this.GeneratedYouTubeThumbnailUri))
    {
        <a data-enhance-nav="false" href="@this.GeneratedYouTubeThumbnailUri" target="_blank">
            <img width="400" class="@ThemeConfiguration.Images.ThumbnailDefaultCss" src="@this.GeneratedYouTubeThumbnailUri" />
        </a>
        <p>
            <FluentLabel Typo="Typography.Body">
                @this.RevisedPrompt
            </FluentLabel>
        </p>
    }
</div>

@code
{
    [Parameter]
    public long? VideoInfoId { get; set; }
    private bool IsBusy { get; set; }
    private PaginationOfT<VideoThumbnailModel>? Items;
    private readonly PaginationState paginationState = new()
        {
            ItemsPerPage = Constants.Pagination.PageSize
        };
    PaginationRequest paginationRequest = new()
        {
            PageSize = Constants.Pagination.PageSize,
            StartIndex = 0,
            SortingItems = new SortingItem[]
                    {
                        new SortingItem()
                        {
                            PropertyName = nameof(VideoThumbnailModel.PhotoId),
                            SortType = SortType.Descending
                        }
                    }
        };
    private readonly CancellationTokenSource cancellationTokenSource = new();
    private string? GeneratedYouTubeThumbnailUri { get; set; }
    private string? RevisedPrompt { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        try
        {
            this.IsBusy = true;
            StateHasChanged();
            var items = await videoThumbnailService.GetPaginatedVideoThumbnailByVideoInfoIdAsync(
                this.VideoInfoId!.Value, paginationRequest, this.cancellationTokenSource.Token);
            this.Items = items;
            await this.paginationState.SetTotalItemCountAsync(items.TotalItems);
        }
        catch (Exception ex)
        {
            this.toastService.ShowError(ex.Message);
        }
        finally
        {
            this.IsBusy = false;
            StateHasChanged();
        }
    }

    private async Task OnCreateNewThumbnailClickedAsync()
    {
        try
        {
            this.IsBusy = true;
            StateHasChanged();
            var promptInfo = await this.promptGeneratorService.GetPromptCompleteInfoAsync(promptName:
            Constants.PromptsNames.CreateYouTubeThumbnail, cancellationToken: this.cancellationTokenSource.Token);
            var videoInfoModel = await this.videoInfoService.GetVideoInfoByIdAsync(id: this.VideoInfoId!.Value,
            cancellationToken: this.cancellationTokenSource.Token);
            var englishCaptions = await this.videoCaptionsService
            .GetVideoCaptionsByVideoInfoIdAndLanguageAsync(videoInfoId: videoInfoModel.VideoInfoId,
            language: "en-US", cancellationToken: this.cancellationTokenSource.Token);
            string prompt = $"{promptInfo!.BaseText}. Video Title: {videoInfoModel.Description}. Video Captions: {englishCaptions}";
            if (prompt.Length > 4000)
                prompt = prompt.Substring(0, 4000);
            var result = await this.openAIService.GenerateDallE3ImageAsync(prompt, this.cancellationTokenSource.Token);
            if (result != null)
            {
                this.GeneratedYouTubeThumbnailUri = result!.data![0]!.url!;
                this.RevisedPrompt = result!.data[0]!.revised_prompt;
            }
            var photoId = await photoService.CreatePhotoAsync(
            new FairPlayCombined.Models.Common.Photo.CreatePhotoModel()
                {
                    Filename = $"Video-{this.VideoInfoId}-thumbnail.jpg",
                    Name = $"Video-{this.VideoInfoId}-thumbnail",
                    PhotoBytes = await this.httpClient.GetByteArrayAsync(this.GeneratedYouTubeThumbnailUri,
                                                                    this.cancellationTokenSource.Token)
                }, this.cancellationTokenSource.Token);
            await this.videoThumbnailService.CreateVideoThumbnailAsync(
                new FairPlayCombined.Models.FairPlayTube.VideoThumbnail.CreateVideoThumbnailModel()
                    {
                        PhotoId = photoId,
                        VideoInfoId = this.VideoInfoId.Value
                    }, this.cancellationTokenSource.Token
            );
            this.paginationRequest.StartIndex = 0;
            await LoadDataAsync();
        }
        catch (Exception ex)
        {
            this.toastService.ShowError(ex.Message);
        }
        finally
        {
            this.IsBusy = false;
            StateHasChanged();
        }
    }

    private async Task OnCurrentPageIndexChangedAsync(int pageNumber)
    {
        this.paginationRequest.StartIndex = pageNumber * this.paginationRequest.PageSize;
        await LoadDataAsync();
    }

    void IDisposable.Dispose()
    {
        this.cancellationTokenSource.Dispose();
    }
}
