@using FairPlayCombined.Common.CustomAttributes
@using FairPlayCombined.Interfaces
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Models.Common.VisitorTracking
@using Microsoft.Extensions.Localization
@using System.Timers

@implements IAsyncDisposable

@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> localizer
@inject NavigationManager navigationManager
@inject IVisitorTrackingService visitorTrackingService
@inject IUserProviderService userProviderService

<FluentMainLayout NavMenuWidth="400">
    <Header>
        <div class="header-content">
            <img src="images/brand-logo.png" alt="@nameof(FairPlayTube) Logo" class="logo" />
            <FluentLabel Typo="Typography.H3" Alignment="HorizontalAlignment.Center">
                @nameof(FairPlayTube)
            </FluentLabel>
        </div>
        <FluentTextField @bind-Value="@this.SearchTerm" Placeholder="Search">
        </FluentTextField>
        <FluentButton Type="ButtonType.Button" OnClick="OnSearchButtonClicked"
                      IconEnd="@(new Icons.Regular.Size20.Search())">
        </FluentButton>
    </Header>
    <SubHeader>
        <FluentLabel Typo="Typography.H2" Alignment="HorizontalAlignment.Center">
            @localizer[ApplicationSubHeaderTextKey]
        </FluentLabel>
    </SubHeader>
    <Body>
        <AuthorizeView>
            <Authorized>
                <FairPlayTube.Components.SignalR.UserMessageNotification></FairPlayTube.Components.SignalR.UserMessageNotification>
            </Authorized>
        </AuthorizeView>
        @Body
    </Body>
    <NavMenuContent>
        <NavMenu></NavMenu>
    </NavMenuContent>
</FluentMainLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentDesignTheme StorageName="theme" />

@code
{
    private bool IsBusy { get; set; } = false;
    private System.Timers.Timer? VisitsTimer { get; set; }
    private readonly CancellationTokenSource cancellationTokenSource = new();
    private long? VisitorTrackingId { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public string? SearchTerm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IsBusy = true;
            await TrackVisit(createNewSession: true);
            navigationManager.LocationChanged += NavigationManager_LocationChanged;
        }
        catch (Exception)
        {
            //Ignore
        }
        finally
        {
            IsBusy = false;
        }
    }

    private async Task TrackVisit(bool createNewSession)
    {
        //We do not want to track authentication flow pages visits
        if (navigationManager.Uri.Contains("/authentication/"))
            return;
        VisitorTrackingModel visitorTrackingModel = new()
            {
                VisitedUrl = navigationManager.Uri
            };
        var currentUserId = userProviderService.GetCurrentUserId();
        if (!String.IsNullOrWhiteSpace(currentUserId))
        {
            visitorTrackingModel.ApplicationUserId = currentUserId;
        }
        if (createNewSession)
        {
            visitorTrackingModel.SessionId = Guid.NewGuid();
        }
        this.VisitorTrackingId = await this.visitorTrackingService
        .TrackVisitAsync(visitorTrackingModel, this.cancellationTokenSource.Token);

        if (createNewSession)
        {
            this.VisitsTimer = new System.Timers.Timer(TimeSpan.FromSeconds(60).TotalMilliseconds);
            this.VisitsTimer.Elapsed += VisitsTimer_Elapsed;
            this.VisitsTimer.Start();
        }
    }

    private async void VisitsTimer_Elapsed(object? sender, ElapsedEventArgs e)
    {
        try
        {
            await visitorTrackingService.UpdateVisitTimeElapsedAsync(this.VisitorTrackingId!.Value,
            this.cancellationTokenSource.Token);
        }
        catch (Exception)
        {
            //Ignore
        }
    }

    private async void NavigationManager_LocationChanged(object? sender,
        Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        try
        {
            await TrackVisit(createNewSession: false);
        }
        catch (Exception)
        {
            //Ignore
        }
    }

    private void OnSearchButtonClicked()
    {
        if (!String.IsNullOrWhiteSpace(this.SearchTerm))
        {
            this.navigationManager.NavigateTo($"/?SearchTerm={this.SearchTerm}",
            forceLoad: true);
        }
        else
        {
            this.navigationManager.NavigateTo($"/", forceLoad: true);
        }
    }

    public async ValueTask DisposeAsync()
    {
        await this.cancellationTokenSource.CancelAsync();
        this.cancellationTokenSource.Dispose();
    }


    #region Resource Keys
    [ResourceKey(defaultValue: Constants.ApplicationTitles.FairPlayTube)]
    public const string ApplicationSubHeaderTextKey = "ApplicationSubHeaderText";
    #endregion Resource Keys
}