@implements IAsyncDisposable

@using FairPlayCombined.Common
@using FairPlayCombined.Common.CustomAttributes
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Models.Common.Company
@using Microsoft.Extensions.Localization

@attribute [Route(Constants.Routes.FairPlayCrmRoutes.UserRoutes.ListCompanies)]
@attribute [Authorize]

@inject IStringLocalizer<CompanyList> localizer
@inject ICompanyService CompanyService

<PageTitle>@nameof(FairPlayCRM) - @localizer[ListCompaniesPageTitleTextKey]</PageTitle>

<h3>
    @localizer[ListCompaniesPageTitleTextKey]
</h3>

<LoadingIndicator ShowSpinners="@this.IsBusy"></LoadingIndicator>

@if (this.ItemsProvider != null)
{
    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">
            <FluentDataGrid Style="min-width: max-content;" ItemsProvider="@this.ItemsProvider" Pagination="@paginationState">
                <PropertyColumn Property="@(p=>p.Name)"></PropertyColumn>
                <PropertyColumn Property="@(p=>p.Phone)"></PropertyColumn>
                <TemplateColumn Title="Online presence">
                    <ul>
                        @if (!String.IsNullOrWhiteSpace(context.WebsiteUrl))
                        {
                            <li>
                                <FluentLabel Typo="Typography.Body">
                                    <FluentAnchor Href="@context.WebsiteUrl" Target="_blank">
                                        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())"
                                                    Color="Color.Accent" Slot="start"></FluentIcon>
                                        Website
                                    </FluentAnchor>
                                </FluentLabel>
                            </li>
                        }
                        @if (!String.IsNullOrWhiteSpace(context.LinkedInUrl))
                        {
                            <li>
                                <FluentLabel Typo="Typography.Body">
                                    <FluentAnchor Href="@context.LinkedInUrl" Target="_blank">
                                        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())"
                                                    Color="Color.Accent" Slot="start"></FluentIcon>
                                        LinkedIn
                                    </FluentAnchor>
                                </FluentLabel>
                            </li>
                        }
                        @if (!String.IsNullOrWhiteSpace(context.InstagramUrl))
                        {
                            <li>
                                <FluentLabel Typo="Typography.Body">
                                    <FluentAnchor Href="@context.InstagramUrl" Target="_blank">
                                        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())"
                                                    Color="Color.Accent" Slot="start"></FluentIcon>
                                        Instagram
                                    </FluentAnchor>
                                </FluentLabel>
                            </li>
                        }
                        @if (!String.IsNullOrWhiteSpace(context.YouTubeChannelUrl))
                        {
                            <li>
                                <FluentLabel Typo="Typography.Body">
                                    <FluentAnchor Href="@context.YouTubeChannelUrl" Target="_blank">
                                        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())"
                                                    Color="Color.Accent" Slot="start"></FluentIcon>
                                        YouTube Channel
                                    </FluentAnchor>
                                </FluentLabel>
                            </li>
                        }
                    </ul>
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    </div>
    <FluentPaginator State="@this.paginationState"></FluentPaginator>
}

@code {
    private GridItemsProvider<CompanyModel>? ItemsProvider { get; set; }
    private PaginationState paginationState { get; set; } = new()
        {
            ItemsPerPage = FairPlayCombined.Common.Constants.Pagination.PageSize
        };
    private readonly CancellationTokenSource cancellationTokenSource = new();
    private bool IsBusy { get; set; }

    protected override void OnInitialized()
    {
        ItemsProvider ??= async req =>
        {
            this.IsBusy = true;
            StateHasChanged();
            PaginationRequest paginationRequest = new()
                {
                    PageSize = paginationState.ItemsPerPage,
                    StartIndex = req.StartIndex,
                    SortingItems = new SortingItem[]
                    {
                        new SortingItem()
                        {
                            PropertyName=nameof(CompanyModel.Name),
                            SortType = FairPlayCombined.Common.GeneratorsAttributes.SortType.Ascending
                        }
                    }
                };
            var items = await this.CompanyService.GetPaginatedCompanyAsync(paginationRequest, this.cancellationTokenSource.Token);
            var result = GridItemsProviderResult.From<CompanyModel>(items.Items!, items.TotalItems);
            this.IsBusy = false;
            StateHasChanged();
            return result;
        };
    }

    public ValueTask DisposeAsync()
    {
        this.cancellationTokenSource.Cancel(throwOnFirstException: false);
        this.cancellationTokenSource.Dispose();
        return ValueTask.CompletedTask;
    }

    #region Resource Keys
    [ResourceKey(defaultValue: "List Companies")]
    public const string ListCompaniesPageTitleTextKey = "ListCompaniesPageTitleText";
    #endregion Resource Keys
}
