@using FairPlayCombined.WebComponents.SocialMedia
@attribute [Route($"{FairPlayCombined.Common.Constants.Routes.FairPlayBlogsRoutes.PublicRoutes.ViewBlogPost}/{{BlogPostId:long}}")]
@attribute [Route($"/Public/Blog/{{BlogName}}/Post/{{BlogPostTitle}}")]

@implements IAsyncDisposable

<PageTitle>
    @Localizer![ViewBlogPostTextKey] - @this.BlogPostModel?.Title
</PageTitle>

<h3>
    @this.BlogPostModel?.Title
</h3>

@if (this.BlogPostModel != null)
{
    <div>
        <SharePage Description="@this.BlogPostModel.Title" Url="@this.NavigationManager!.Uri"></SharePage>
    </div>
    <div style="text-align:center;">
        <img src="@($"{NavigationManager!.BaseUri}api/blogpost/{this.BlogPostModel.BlogPostId}/thumbnail")" width="300" />
    </div>
}
<div style="text-align:center;">
    <BlazoredTextEditor ReadOnly="true" @ref="@QuillHtml" Placeholder="@String.Empty">
        <ToolbarContent>
            <select class="ql-header">
                <option selected=""></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
            </select>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-image"></button>
            </span>
        </ToolbarContent>
        <EditorContent>
        </EditorContent>
    </BlazoredTextEditor>
</div>